$appWidth: 800px;
$background: url(../img/circles-dark.png);
$appColor: #282c34;
$additionalTheme: #EEE;
$borderRadiusLarge: 40px;
$borderRadiusMedium: 25px;
$borderRadiusSmall: 20px;
$buttonPadding: 10px;
$buttonHeight: 40px;
$primaryColor: #62edff;
$secondaryColor: #3fc6d8;
$inactiveColor: #9bf4ff;