@import './theme';

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 800px;
  background-color: $mainTheme;
}

hr {
  border: 1px solid $additionalTheme;
  width: 100%;
}

.colNarrow {
  display: flex;
  flex-direction: column;
  width: 40%;
  float: left;
}

.colWide {
  display: flex;
  flex-direction: column;
  width: 60%;
  float: left;
}

.checkbox {}

.checkbox--state-clicked {}