.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 800px;
  text-align: center;
  background-color: #282c34;
}

.modifiersContainer {
  display: flex;
}

.colNarrow {
  display: flex;
  flex-direction: column;
  width: 40%;
  float: left;
}

.colWide {
  display: flex;
  flex-direction: column;
  width: 60%;
  float: left;
}

.checkbox {}

.checkbox--state-clicked {}