@import './_theme.scss';

.ContainerInput {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ContainerInput textarea {
    margin: 30px 30px 15px 30px;
    padding: 20px;
    border-radius: $borderRadius;
    width: 100%;
    min-height: 150px;
}